.members-block{
  height: 606px;
  background-color: #fff;
  background-image: url('../../../assets/images/banner2_bg.png');
  background-repeat: no-repeat;
  background-position: 0 169px;
  background-size: contain;
}
.members{
  width: 1280px;
  height: 810px;
  padding-top: 72px;
  border-radius: 6px;
  margin: 0 auto;
  transform: translateY(-127px);
  background-image: url('../../../assets/images/banner4_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1029px 532px;
  text-align: center;
  background-color: #fff;
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  .sub-title{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 34px;
    margin-top: 0px;
    color: rgba(0,0,0,0.1);
  }
  .members-list{
    padding-top: 46px;
    padding-bottom: 21px;
    text-align: left;
  }
  .card-img-top{
    width: 100%;
    border-radius: 100%;
  }
  .member-item{
    display: inline-block;
    width: 220px;
    height: 110px;
    border-radius: 6px;
    padding: 25px 18px 25px 20px;
    font-size: 0;
    margin-right: 44px;
    margin-bottom: 25px;
    color: #515151;
  }
  .member-item.last-item{
    margin-right: 0;
  }
  .member-item:hover {
    box-shadow: 0px 0px 25px rgba(0,0,0,0.08);
    transform: scale(1.05);
  }
  .img-block{
    width: 59px;
    height: 59px;
    display:inline-block;
    margin-right: 14px;
    vertical-align: top;
  }
  .content{
    display: inline-block;
    font-size: 12px;
    width: 109px;
    vertical-align: top;
  }
  .name{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    color: #000;
  }
  .responsibility {
    font-size: 14px;
    color: #515151;
  }
  .GithubLink {
    color:rgba(110,90,208,1);
    font-size: 12px;
    line-height: 24px;
    i {
      font-size: 14px;
      margin-right: 2px;
      color: #aaa;
    }
  }
  .text-over{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}
